<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    * {
        padding: 0;
        margin: 0;
    }
    nav {
        height: 48px;
        width: 100%;
        position: sticky;
        top: -1px;
    }
    div {
        height:1500px
    }
</style>
<body>
    <nav style="background-color: red;"></nav>
    <div></div>
</body>
</html>